Repository mdmuzaffarkhan/test-for-only-protect-: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kabilan1, kabilan2, kabilan3

kabilan1:
  stage: build
  tags:
  - stg
  script:
  - echo "kabilan1"

kabilan2:
  stage: build
  tags:
  - stg
  script:
  - echo "kabilan2"

kabilan3:
  stage: build
  tags:
  - stg
  script:
  - echo "kabilan3"

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Delete check
  kabilan1/check
Due: kabilan1

Delete check2
  kabilan1/check2
Due: kabilan1

Delete test
  kabilan1/test
Due: kabilan1

Delete agil
  kabilan2/agil
Due: kabilan2

Delete test
  kabilan2/test
Due: kabilan2

Delete test2
  kabilan2/test2
Due: kabilan2

Add new file
  kabilan1/rtes
Due: kabilan1

Add new file
  kabilan1/ff
Due: kabilan1

Update ff
  kabilan1/ff
Due: kabilan1

Add new file
  kabilan2/test
Due: kabilan2

Add new file
  kabilan5/agil
Due: none

Add new file
  kabilan3/agil
Due: kabilan3

Add new file
  kabilan3/agil2
Due: kabilan3

Add new file
  kabilan3/test
Due: kabilan3

Update agil
  kabilan3/agil
Due: kabilan3

Update test
  kabilan3/test
Due: kabilan3

Update test
  kabilan2/test
Due: kabilan2

Path conditions:
  kabilan1: any of: kabilan1/*
  kabilan2: any of: kabilan2/*
  kabilan3: any of: kabilan3/*
